* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

}

body {
  background: rgb(41,2,68);
  background: linear-gradient(90deg, rgba(41,2,68,1) 0%, rgba(193,6,195,1) 35%, rgba(39,77,151,1) 100%);
  color: white;
}

h1, h2, h4 {
  text-shadow: #050333 1px 1px 2px;
  padding-bottom: 15px;
}